html, body, #container, #main {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  position: relative;
  z-index: -1;
}

#title {
  display: none;
}

#toolBar {
  position: absolute;
  top: 10px;
  right: 2px;
}

#searchBox {
  margin-bottom: 0;
}

#menuIcon {
  background-image: url("../images/menu.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 34px;
  height: 34px;
  float: right;
}

#menuIcon:hover {
  cursor: pointer;
}

#menuIcon:active {
  position: relative;
  top: 2px;
  left: 2px;
}

@media screen and (min-width: 768px) {
  #map {
    height: 100%;
    top: -69px;
  }

  #title {
    display: inline;
  }

  #toolBar {
    right: 10px;
  }

  #searchBox {
    float: left;
    margin-right: 10px;
  }
}
