html, body, #container, #main {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#map {
  height: 100%;
  position: relative;
  top: -69px;
}

#title {
  visibility: hidden;
  position: relative;
  z-index: 2;
  pointer-events: none;
}

#toolBar {
  position: absolute;
  top: 11px;
  right: 2px;
  z-index: 1;
  pointer-events: none;
}

#searchBox {
  margin-bottom: 0;
  pointer-events: all;
}

#menuIcon {
  background-image: url("../images/menu.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 34px;
  height: 34px;
  margin-top: 10px;
  float: right;
  pointer-events: all;
}

#menuIcon:hover {
  cursor: pointer;
}

#menuIcon:active {
  position: relative;
  top: 2px;
  left: 2px;
}

/* The side bar */

@keyframes openSideBar {
  0% {
    right: -200px;
  }
  100% {
    right: 0;
  }
}

#sideBar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 200px;
  background-color: white;
  animation: openSideBar 0.5s;
}

@media screen and (min-width: 768px) {
  #map {
    height: 100%;
  }

  #title {
    visibility: visible;
  }

  #toolBar {
    right: 10px;
  }

  #searchBox {
    float: left;
    margin-right: 10px;
  }

  #menuIcon {
    margin-top: 0;
  }
}
